# ── Python ──
__pycache__/
*.pyc
*.pyo
pc_host/.venv/
pc_host/events.csv
.venv/
testcmdV2.1/

# ── Keil uVision ──
mcu/.vscode/
mcu/Listings/
mcu/Objects/
mcu/RTE/
*.uvguix.*
*.scvd
*.jlink

# —— Other Settings ——
.claude
.vscode 
.codex
*.md
*.pdf